*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: white,
   
}

.container{
    text-align: center;
    margin: auto;
    width: 750px;
    height: 100vh;
}

.intro{
    width: 500px;
    margin-left: 135px;
    padding-bottom: 20px;
    height: 140px;
}

.intro h1{
    font-size: 35px;
}

.intro p{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 16px;
}

#form{
    border: none;
    width: 550px;
    height: 550px;
    margin-left: 110px;
    border-radius: 20px;
    background-color: white;
    margin-top: 15px;
    box-shadow: 0 0 8px #E4E4E7;
}

#form input{
    width: 400px;
    height: 60px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
    border-width: 1px;
    cursor: pointer;
    border: 1px solid #E4E4E7;
}

#register{
    width: 400px;
    height: 60px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
    border-width: 1px;
    cursor: pointer;
    background-color: #0D6EFD;
    color: white;
    border:none;
}

#register:hover{
    background-color: plum;
}

#form input:focus {
    outline: none;
}

#form p{
    padding-top: 20px;
    color: black;
}

#login{
    font-weight: bolder;
    text-decoration: none;
    color: #0D6EFD;
}

#form #inputName{
    margin-top: 30px;
}

#nameError, #passError, #confirmError, #emailError{
    color: red;

}

span {
    display: block;
    color: red;
}